<h1><%= @user.name %></h1>

<div>
  <%= link_to "Create an Event", new_event_path, class: "btn btn-success" %>
</div>

<div class="created_events">
  <h3 id="created">My Events (<%= @created_events.count %>)</h3><br>
  <table class="table table-bordered table-striped" style="width:90%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @created_events.each do |created_event| %>
          <tr>
            <td width="20%"><%= link_to created_event.name, created_event %></td>
            <td width="20%"><%= created_event.date %></td>
            <td width="50%"><%= truncate(created_event.description, length: 150) %><%= link_to "read", created_event %></td>
            <td width="10%"><%= link_to "delete", created_event, method: :delete,
                                      data: { confirm: "You sure?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div><br>

<div class="attended_events">
    <h3 id= "attendings">Attending (<%= @attended_events.count %>)</h3><br>

    <table class="table table-bordered table-striped" style="width:90%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @attended_events.each do |attended_event| %>
          <tr>
            <td width="20%"><%= link_to attended_event.name, attended_event %></td>
            <td width="20%"><%= attended_event.date %></td>
            <td width="50%"><%= truncate(attended_event.description, length: 150) %><%= link_to "read", attended_event %></td>
            <td width="10%"><%= link_to "unattend", unattend_event_path(attended_event), method: :patch %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
