<h1>User Profile</h1>
<div class="profile">
    <b>Name:</b>
    <%= @user.name %> 
</div><br>

<div>
  <%= link_to "Create an Event", new_event_path %>
</div>

<div class="created_events">
  <h3 id="created">Created Events (<%= @created_events.count %>)</h3><br>
  <table class="table table-bordered table-striped" style="width:90%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @created_events.each do |created_event| %>
          <tr>
            <td width="20%"><%= created_event.name %></td>
            <td width="20%"><%= created_event.date %></td>
            <td width="50%"><%= link_to created_event.description, created_event %></td>
            <td width="10%"><%= link_to "delete", created_event, method: :delete, 
                                      data: { confirm: "You sure?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div><br>

<div class="attended_events">
    <h3 id= "attendings">Attending Events (<%= @attended_events.count %>)</h3><br>
    
    <table class="table table-bordered table-striped" style="width:90%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @attended_events.each do |attended_event| %>
          <tr>
            <td width="20%"><%= attended_event.name %></td>
            <td width="20%"><%= attended_event.date %></td>
            <td width="50%"><%= link_to attended_event.description, attended_event %></td>
            <td width="10%"><%= link_to "unattend", unattend_event_path(attended_event), method: :patch %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>


        



