<h1>Upcoming Events (<%= @upcoming_events.count %>)</h1>



 <table class="table table-bordered table-striped" style="width:90%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Description</th>
          <th>Creator</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @upcoming_events.each do |event| %>
          <tr>
            <td width="15%"><%= link_to event.name, event %></td>
            <td width="10%"><%= event.date %></td>
            <td width="50%"><%= truncate(event.description, length: 150) %><%= link_to "read", event %></td>
            
            <td width="15%"><%= event.creator.name %></td>
            <td width="10%"><% if event.attendees.where(id: current_user.id).present? %>
              <%= link_to "Un-attend", unattend_event_path(event), method: :patch %> 
            <% else %>
              <%= link_to "Attend", attend_event_path(event), method: :patch %>
            <% end %></td>
  
                      
          </tr>
        <% end %>
      </tbody>
    </table>
    <!--tivate_user_path(inactive_user), method: :patch-->