<h1>Past Events (<%= @past_events.count %>)</h1>

<table class="table table-bordered table-striped" style="width:90%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Description</th>
      <th>Creator</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <% @past_events.each do |past_event| %>
    <tr>
      <td width="15%"><%= link_to past_event.name, past_event %></td>
      <td width="10%"><%= past_event.date %></td>
      <td width="50%"><%= truncate(past_event.description, length: 150) %><%= link_to "read", past_event %></td>
      <td width="15%"><%= past_event.creator.name %></td>
      <td width="10%">
        <button type="button" disabled>expired</button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
    