<h1>Event Attendees</h1>

<div class="date">
    <b>Name:</b>
    <%= @event.name %>
</div>
<div class="date">
    <b>Date:</b>
    <%= @event.date %>
</div>
<div class="date">
    <b>Creator:</b>
    <%= @event.creator.name %>
</div>
<div class="description">
    <b>Description:</b>
    <%= @event.description %>
</div><br>

<div class="attendees-list">
    <table class="table table-bordered table-striped" style="width:50%;">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @attendees.each do |attendee| %>
          <tr>
            <td><%= attendee.name %></td>
            <td><%= attendee.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<!--https://stackoverflow.com/questions/16682699/check-if-record-exists-from-controller-in-rails-->
<% if @event.date >= Time.zone.now %>
  <% if @attendees.where(id: current_user.id).present? %>
    <%= link_to "Unattend", unattend_event_path(@event), method: :patch %> 
  <% else %>
    <%= link_to "Attend", attend_event_path(@event), method: :patch %> 
  <% end %>
<% end %>